.env

node_modules
node_modules/
node_modules/*

.dist
.dist/
.dist/*
dist
dist/
dist/*
build
build/
build/*

logs
logs/
logs/*
*.log
*.log*
report.*.json

*buildinfo

src/database.json
